services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: telemetry_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: postgresql+psycopg2://postgres:postgres@db:5432/telemetry_db
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build: ./Test
    ports:
      - "5173:5173"
    depends_on:
      backend:
        condition: service_started

volumes:
  postgres_data:
